@import url("./_fonts.css");

:root {
    --fundo: #303030;
    --borda: black;
    --fonte: #e7e7e7;
    --banner: #4dcfd8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fonte);
}

#nav-bar {
    background-color: var(--fundo);
    border-bottom: 2px solid var(--borda);
    text-align: center;
    list-style: none;
}

#nav-bar li {
    display: inline;
}

#nav-bar a {
    display: inline-block;
    padding: 20px 50px;
    font-size: 22px;
    font-family: RalewayHeavy;
    text-decoration: none;
    color: var(--fonte);
}

#nav-bar a:hover {
    background-color: var(--fonte);
    color: var(--fundo);
}

#banner {
    /*background-image: url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 40vh;*/
    background-color: var(--banner);
    border-bottom: 2px solid var(--borda);
    font-family: RalewayThin;
    text-align: center;
    text-shadow: -2px 2px 2px #202020a1;
    color: var(--fonte);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
}

#header {
    font-family: RalewayThin;
    text-align: center;
    margin-top: 30px;
}

#header h1 {
    font-size: 38px;
}

#header hr {
    border: 1px solid var(--fundo);
    margin: auto;
    width: 30%;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: var(--fundo);
    border: 1px solid var(--borda);
    box-shadow: -5px 5px 5px 2px #777777a1;
    flex: 1 0 25%;
    height: 50vh;
    box-sizing: border-box;
    margin: 3%;
    max-width: 27%;
}

.card .texto {
    text-align: justify;
    font-family: RalewayThin;
    padding: 6px;
}

.card .texto h3, a {
    font-size: 22px;
    text-decoration: none;
    color: var(--fonte);
    padding-bottom: 3px;
}

.card .text h3, a:hover {
    color: var(--banner);
}

.card .texto p {
    font-size: 14px;
    font-weight: bold;
    color: var(--fonte);
}

#post {
    font-family: RalewayThin;
    text-align: center;
}

#post header {
    margin: 40px 0 30px 0;
}

#post img {
    margin-bottom: 10px;
}

#conteudo {
    margin-left: 15%;
    width: 70%;
    text-align: justify;
    line-height: 26px;
}

#conteudo p {
    font-family: RalewayThin;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin: 16px 0;
}