{% extends 'layout.html' %}

{% block sub_header %}
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Gamers Blog</h1>
          <p class="lead text-muted">Um blog feito para você ser críticas que você não concorda sobre seus jogos favoritos</p>
          <p>
          </p>
        </div>
      </section>
{% endblock %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {%for post in posts%}
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{post.image}}">
              <div class="card-body">
                <strong> {{post.title}} </strong>
                <p class="card-text">{{post.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">{{post.date}}</small>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
    </div>
</div>
{% endblock %}
